/* Selectores */
/* El orden correcto de trabajo sería: Universal, Etiqueta y clases. */
/* UNIVERSALES */ /* Aplica para todo el documento */

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
/* body{
    background-image:url("/imagenes/Fonde3.jfif");
    background-attachment: fixed;
    
} */
nav{
    width: 100%;
}
nav ul{
    display: flex;
}
nav li{
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 18px;
}
nav li:hover{
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    color: rgb(2, 10, 10);
    margin: 18px;
}
.banner{
    height: 500px;
    background-color: rgb(85, 166, 241);
    box-sizing: border-box;
    display: block;
    clip-path: ellipse(75% 60% at 65% 0%);
    
}
.content-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-banner h1 {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 48px;
}
.content-banner a{
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(56, 81, 223);
}
.btn{ /* Clase para botones */
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 17px;
    text-decoration: none;
    
}
.btn-primary{ 
    background-color: rgb(41, 214, 214);
}
.btn-primary:hover{ 
    background-color: rgb(242, 247, 247);
}

.main{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px 0px 100px;
}
.main p{
    line-height: 35px;
    font-size: 18px;
    
}
.main img{
    border-radius: 50%;
}
.secondary{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: rgba(41, 214, 214, 0.301);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 400px;
}
.secondary iframe{ 
    display: block;
}
.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer{
    height: 70px;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 20px;
}